@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";


.logos {
    display: flex;
    flex-flow: wrap;
    
    div > img {
        width: 80px;
        height: 80px;
    }
    div{
        display:flex;
        flex-direction: column;
        padding:15px;
        width:100px;
    }
}
